<div class="container h-75 p-0">

  <div class="row  my-5">

    <div class="w-50 m-auto pb-3">
      <div class=" d-flex justify-content-center align-items-center">
        <div class="image w-25">
          <img src="./images/Logo.png" class="w-100 m-auto" alt="">
        </div>
      </div>
        @if(forgetpass){
          <form [formGroup]="forgetPasswordForm" (ngSubmit)="submitForm()">
            <div class="row mb-4">
              <div class="mb-4">
                <input type="email" id="formEmail" class="form-control" placeholder="Enter your email" formControlName="email"/>
                @if(forgetPasswordForm.get('email')?.errors && forgetPasswordForm.get('email')?.touched){
                  <div class="alert alert-danger mt-2">
                    @if(forgetPasswordForm.get('email')?.errors?.['required']){
                      Email is required.
                    }@else if(forgetPasswordForm.get('email')?.errors?.['email']){
                      Email is not valid.
                    }
                  </div>
                }
              </div>
              <button type="submit" class="btn btn-outline-secondary btn-block w-100 mb-3" [disabled]="forgetPasswordForm.invalid">
                @if (isLoading) {
                  <span><i class="fa fa-spinner fa-spin"></i></span>  Send Email
                }@else {
                  Send Email
                }
              </button>
            </div>
          </form>
        }@else if(resetCode){
          <app-reset-code></app-reset-code>
        }
    </div>
  </div>
</div>
