*{
  color: rgba(61, 92, 104) !important;
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid rgba(61, 92, 104);
  cursor: pointer;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(61, 92, 104, .7);
}
.card img {
  border-radius:5px ;
  height: 300px;
  -webkit-border-radius:5px ;
  -moz-border-radius:5px ;
  -ms-border-radius:5px ;
  -o-border-radius:5px ;
}
