<form [formGroup]="newPasswordForm" (ngSubmit)="submitnewPasswordForm()">
  <div class="row mb-4">
              <!-- Email input -->
              <div class="mb-4">
                <input type="email" id="formEmail" class="form-control" placeholder="Enter your email" formControlName="email"/>
                @if(newPasswordForm.get('email')?.errors && newPasswordForm.get('email')?.touched){
                  <div class="alert alert-danger mt-2">
                    @if(newPasswordForm.get('email')?.errors?.['required']){
                      Email is required.
                    }@else if(newPasswordForm.get('email')?.errors?.['email']){
                      Email is not valid.
                    }
                  </div>
                }
              </div>

              <div class="mb-4">
                <input type="password" id="formPassword" class="form-control" placeholder="Enter your new password" formControlName="newPassword"/>
                @if(newPasswordForm.get('newPassword')?.errors && newPasswordForm.get('newPassword')?.touched){
                  <div class="alert alert-danger mt-2">
                    @if(newPasswordForm.get('newPassword')?.errors?.['required']){
                      Password is required.
                    }@else if(newPasswordForm.get('newPassword')?.errors?.['pattern'] || newPasswordForm.get('newPassword')?.errors?.['minlength']){
                      Password must meet the following criteria:
                      <ul>
                        <li>At least one lowercase letter (a-z)</li>
                        <li>At least one uppercase letter (A-Z)</li>
                        <li>At least one number (0-9)</li>
                        <li>At least one special character ($!%*?&)</li>
                        <li>Minimum 8 characters in length</li>
                      </ul>
                    }
                  </div>
                }
              </div>

  <div class="text-center">
    <button type="submit" class="btn btn-outline-secondary btn-block w-100 mb-3" [disabled]="newPasswordForm.invalid">
      @if (isLoading) {
        <span><i class="fa fa-spinner fa-spin"></i></span>  Reset Password
      }@else {
        Reset Password
      }
    </button>
            </div>
  </div>
</form>
